[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=openTerminalHere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openTerminalHere]
Name=Open yakuaketwotwo Here
Name[es]=Abrir yakuaketwotwo aquí
Name[es_ES]=Abrir yakuaketwotwo aquí
Icon=utilities-terminal
Exec=yakuaketwo-session --workdir %f
#Exec=$HOME/.kde/share/kde4/services/ServiceMenus/yakuaketwo-session --workdir %f
X-Ubuntu-Gettext-Domain=desktop_kdebase
